/*------------------- ESTILOS PARA BODY */
#body{
    background-color:  #1E1E1E;
    font-family: "poppins", sans-serif;
    max-width: 100%;
    letter-spacing: 3px;
    color: white;
    font-weight: regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}