/*Tipografia POPPINS*/
@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-regular.ttf);
}

/*-------------------------- RESETEO DE HTML */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}